__pycache__
.dist
rocket\offboe_rocket.egg-info
rocket\rocket.egg-info
MIT License.txt
SEDS_Lab3\regression\LinearRegression_pkg.egg-info
SEDS_Lab3\regression\dist
SEDS_Lab3\package
/package/cookiecutter-pypackage-master.zip